@page "/"
@inject IGpioManager GpioManager

<h3>Read From pins</h3>
@foreach (var item in GpioManager.GpioPins)
{
    <div>@item.GpioAddress is @item.GpioValue</div>
}

<br />
<h3>Add new Pin</h3>
<button @onclick="AddNewPin">10</button>


@code{ 
    protected override void OnAfterRender(bool firstRender)
    {
        if(firstRender){
            var pin = new Model.GpioPin(1, Model.GpioType.Output);
            GpioManager.GpioPins.Add(pin);

            pin.PropertyChanged += (o, e) => StateHasChanged();
            StateHasChanged();
        }
    }


    private void AddNewPin()
    {
        var pin = new Model.GpioPin(10, Model.GpioType.Output);
        GpioManager.GpioPins.Add(pin);

        //Write to pin
        pin.GpioValue = true;
    }
}
